/* *{
    padding: 0;
    margin: 0;
} */

/* :root{
    --main-color: #333;
    --hover-color: #222;
} */

#nav{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
}

.btn{
    padding: 4vh 0;
    font-size: 140%;
    border: none;
    background-color: var(--main-color);
}

.btn a {
    text-decoration: none;
    color: white;
    padding: 4vh 2vw;
}

.btn:hover {
    background-color: var(--hover-color);
}

#about{
    font-size: 140%;
}